includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
	level: 9
	paths:
		- src
		- tests
	ignoreErrors:
		-
			message: '#^Access to an undefined property XMLReader\:\:\$(name|nodeType|value|isEmptyElement|hasAttributes)\.$#'
			path: src/Reader/DefaultReader.php
			count: 5
			reportUnmatched: false
		-
			message: '#^Method .+\:\:toArray\(\) should return array\<.+\> but returns array\.$#'
			path: src/Builder/BaseNode.php
			count: 1
