includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
	level: 8
	paths:
		- src
		- tests
	ignoreErrors:
		-
			message: "#^If condition is always false\\.$#"
			path: src/Reader/DefaultReader.php
			count: 1
		-
			message: "#^Method Inspirum\\\\XML\\\\Formatter\\\\Formatter\\:\\:parseQualifiedName\\(\\) should return array{string|null, string} but returns array\\.$#"
			path: src/Formatter/Formatter.php
			count: 1
