includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
	level: 9
	paths:
		- src
		- tests
	ignoreErrors:
		-
			message: '#^If condition is always false\.$#'
			path: src/Reader/DefaultReader.php
			count: 1
		-
			message: '#^Access to an undefined property XMLReader\:\:\$(name|nodeType|value|isEmptyElement|hasAttributes)\.$#'
			path: src/Reader/DefaultReader.php
			count: 5
